
.dog-profile {
    display: flex;
    align-items: center;
}
.profile-photo {
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
}

.session-data {
    margin-top: 20px;
}

/* .session-data .table {
    color: white;
} */